venv
app_backup
temp
db_host/.env
terraform/.terraform.lock.hcl
terraform/s1_key.json
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/tf_key.json
terraform/.terraform
terraform/bingo.tfvars
terraform/.terraform.tfstate.lock.info
app/nginx_source
local_deploy/docker_check.py

app_test/docker_check.py
local_deploy/*.log
